/* some style */

#tv { border: 1px solid gray;
      float: left;
      clear: left;
      display: block;}
.heading {
  font-size: 26px;
  color: hsl(180, 90%, 20%);
}
.topbar {
  font-size: 25px;
  height: 40px;
  background-color:
  margin-top: 0px;
  margin-left: 0;
  background-color: #eee;
}

.topbar>li { list-style-type: none; float: left; margin-left: 40px; width: 100px; height: 40px;
             border: 1px solid #ccc;}

.topbar>li>a:hover { color: hsla(240, 50%, 30%, 1.0); }
.topbar>li>a:link {color: hsla(240, 50%, 30%, 1.0);}


.sidebar {
  border: 1px solid green;
  display: block;
  height: 300px;
  width: 250px;
  padding: 0;
  background-color: #eee;
}
.sidebar>li {
  float: left;
  clear: left;
  height: 45px;
  width: 249px;
  font-size: 35px;
  background-color: #ccc;
  border: 1px solid white;
  border-width: 1px 0 1px 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#loginbar {
  height: 250px;
  border: 1px solid blue;
}
#loginbar>ol>li {
  float: left;
  clear: left;}

.fullwidth {
  width: 100%;
  float: left;
  clear: left;
}

.padleft {
  padding-left: +35px;

}

.rate {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid purple;
  float: right;
  clear: none;
  overflow: hidden;
  margin-right: 4px;
  margin-top: 6px;
  z-index: 108;
}

.item-rate-doubleplus {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 30px;
  opacity: 0.5;
  background-color: green;
  z-index: 109;
}
.item-rate-plus {
  position: absolute;
  top: 10px;
  left: 0;
  height: 10px;
  width: 30px;
  opacity: 0.5;
  background-color: blue;
  z-index: 109;
}
.item-rate-minus {
  position: absolute;
  top: 20px;
  left: 0;
  height: 10px;
  width: 30px;
  opacity: 0.5;
  background-color: pink;
  z-index: 109;
}


.item-rating {
  position: absolute;
  top: 0;
  right: 0;
  float: left;
  font-size: 32px;
}

.item-contents {
  clear: left;
  position: relative;
  z-index: 100;
  display: block;
  min-height: 35px;

}

.item-author {
  clear: left;
  display: block;
}

.nocomments {
  border: 1px solid #eee;
  border-width: 0px;
  border-radius: 3px;
  padding-bottom: 3px;

}

.hascomments {
  border: 1px solid hsl(120, 70%, 30%, 0.2);
  border-width: 0px;
  border-radius: 5px;
}

.justMounted {
    -webkit-animation: fade 0.5s;
    animation: fade 0.5s;
    opacity: 1;
}


.genpost {
    padding: 3px;
  border-radius: 3px;}

.selectedParent {
  background-color: hsla(310, 70%, 30%, .35);
}

.replySelected {
  background-color: hsla(310, 70%, 30%, .35);}

.selectedChild {
  background-color: hsl(250, 50%, 50%, 0.1);
}

.freshPost {
  background-color: hsla(117, 50%, 50%, 0.3);
}
.fbfb {
  background-color: lightblue;
}
.gogo {
  background-color: yellow;
}
.nfnf {
  background-color: pink;
}
.tile {
  width: auto;
  height: auto;
  max-height: 180px;
  font-size: 22px;
  overflow-y: scroll;
  border: 1px solid blue;
}

#inputs {
  display: block;
  padding-bottom: 200px;
}
#postinput {
  border: 1px solid orange;
  display: block;
}

#postcommentinput {
  display: block;
  border: 1px solid lightblue;
}

#maincontain {
  float: left;
  clear: left;
}


@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
