/* some style */

#tv { border: 1px solid gray;}
.heading {
  font-size: 26px;
  color: hsl(180, 90%, 20%);
}
.fullwidth {
  width: 100%;
  float: left;
  clear: left;
}

.padleft {
  padding-left: +35px;
}

.nocomments {
  border: 1px solid blue;
  border-width: 0 0 0 0px;
  padding-bottom: 3px;
}

.hascomments {
  border: 1px solid hsl(120, 70%, 30%, 0.2);
  border-width: 0 0px 0px 0px;
}

.selectedParent {
  background-color: hsla(310, 70%, 30%, .35);
  border: 0px solid red;
}

.replySelected {
  background-color: hsla(310, 70%, 30%, .35);}

.selectedChild {
  background-color: hsl(250, 50%, 50%, 0.1);
  border: 0px;
}

.freshPost {
  background-color: hsla(117, 50%, 50%, 0.3);
}
.fbfb {
  background-color: lightblue;
}
.gogo {
  background-color: yellow;
}
.nfnf {
  background-color: pink;
}
.tile {
  width: auto;
  height: auto;
  max-height: 180px;
  font-size: 22px;
  overflow-y: scroll;
  border: 1px solid blue;
}

#inputs {
  display: block;
  padding-bottom: 200px;
}
#postinput {
  border: 1px solid orange;
  display: block;
}

#postcommentinput {
  display: block;
  border: 1px solid lightblue;
}
