/* some style */

#tv { border: 1px solid gray;}
.heading {
  font-size: 26px;
  color: hsl(180, 90%, 20%);
}
.fullwidth {
  width: 100%;
  float: left;
  clear: left;
}

.padleft {
  padding-left: +35px;
}

.rate {
  width: 30px;
  height: 30px;
  border: 1px solid purple;
  float: right;
  overflow: hidden;
}

.item-rating {
  float: left;
  font-size: 32px;
}

.nocomments {
  border: 1px solid #eee;
  border-width: 0px;
  border-radius: 3px;
  padding-bottom: 3px;

}

.hascomments {
  border: 1px solid hsl(120, 70%, 30%, 0.2);
  border-width: 0px;
  border-radius: 5px;
}

.justMounted {
    -webkit-animation: fade 0.5s;
    animation: fade 0.5s;
    opacity: 1;
}


.genpost {
    padding: 3px;
  border-radius: 3px;}

.selectedParent {
  background-color: hsla(310, 70%, 30%, .35);
}

.replySelected {
  background-color: hsla(310, 70%, 30%, .35);}

.selectedChild {
  background-color: hsl(250, 50%, 50%, 0.1);
}

.freshPost {
  background-color: hsla(117, 50%, 50%, 0.3);
}
.fbfb {
  background-color: lightblue;
}
.gogo {
  background-color: yellow;
}
.nfnf {
  background-color: pink;
}
.tile {
  width: auto;
  height: auto;
  max-height: 180px;
  font-size: 22px;
  overflow-y: scroll;
  border: 1px solid blue;
}

#inputs {
  display: block;
  padding-bottom: 200px;
}
#postinput {
  border: 1px solid orange;
  display: block;
}

#postcommentinput {
  display: block;
  border: 1px solid lightblue;
}




@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
